/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#fondo { 
	-fx-background-color: F6E4F4;
}
#boton { 
	-fx-text-fill: BLACK;
	-fx-alignment: center;
	-fx-background-color: AF287C;
	-fx-text-fill: #FFFFFF; 
}
.table{
	-fx-background-color: AF287C;
}
.table-view .column-header{
	-fx-background-color: AF287C;
}
.table-view .column-header .label{
	-fx-text-fill: #FFFFFF; 
}
.table-row-cell:odd{
	-fx-background-color: F6E4F4;
	-fx-text-fill: BLACK;
}
.table-row-cell:even{
	-fx-background-color: WHITE;
	-fx-text-fill: BLACK;
}
.table-row-cell:hover{
	-fx-background-color: D06FAB;
	-fx-text-fill: BLACK;
}
.table-row-cell:selected{
	-fx-background-color: AF287C;
	-fx-text-fill: BLACK;
}
.context-menu{
	-fx-background-color: WHITE;
	-fx-text-fill: BLACK;
}
.menu-item .label{
	-fx-background-color: AF287C;
	-fx-text-fill: BLACK;
}

